includes:
    - vendor/larastan/larastan/extension.neon
    - vendor/nesbot/carbon/extension.neon
    - vendor/calebdw/larastan-livewire/extension.neon

parameters:
    level: 8

    paths:
        - app/

    stubFiles:
        - _ide_helper.php
        - _ide_helper_models.php

    scanFiles:
        - .phpstorm.meta.php

    reportUnmatchedIgnoredErrors: false

    universalObjectCratesClasses:
        - Illuminate\Database\Eloquent\Model
        - Illuminate\Database\Eloquent\Casts\Attribute

    treatPhpDocTypesAsCertain: true
