// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");
@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
// Variables
@import "variables";
// Bootstrap
@import "~bootstrap/scss/bootstrap";
@import 'node_modules/bootstrap-vue/src/index.scss';
body {
    background-color: #fff;
    color: #212529;
    font-family: "Roboto", sans-serif;
    padding-bottom: 2rem;
}

.header {
    padding: 15px;
}

.center {
    margin: auto;
}

.datepicker {
    border: 1px solid #dee2e6;
}

.navbar-text {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.modal-link {
    cursor: pointer;
}

.button {
    cursor: pointer;
}

.button:hover {
    background: #f2f2f2;
}

.unavailable {
    background-color: #f2f2f2;
}

.title {
    margin: auto;
}

.meme {
    color: #212529 !important;
    text-decoration: none !important;
    cursor: text !important;
}

//Time Picker
.timedropdown {
    .selected {
        background-color: #ffc107;
    }
}

.andyh-datepicker-container {
    margin-bottom: 1rem;
    .selected {
        background-color: #ffc107;
    }
    .selected:hover {
        background-color: #ffc107
    }
}
