// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");
@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

body {
    background-color: #fff;
    color: #212529;
    font-family: "Roboto", sans-serif;
}

.header {
    padding: 15px;
}

.center {
    margin: auto;
}

.datepicker {
    border: 1px solid #dee2e6;
}

.navbar-text {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.modal-link {
    cursor: pointer;
}

.button {
    cursor: pointer;
}

.button:hover {
    background: #f2f2f2;
}

.date-grid-container {
    display: grid;
    border: 1px solid #dee2e6;
    grid-template-columns: auto auto auto auto auto auto auto;


    .date-title {
        grid-column: 1/8;
        padding: .75rem;
    }

    .arrow-button {
        grid-column: span 2;
        border-top: 1px solid #dee2e6;
        padding: .75rem;
        font-weight: bold;
    }

    .date-title-small {
        grid-column: span 3;
        border-top: 1px solid #dee2e6;
        padding: .75rem;
        font-weight: bold;
    }

    .day {
        font-weight: bold;
    }

    .date {
        border-top: 1px solid #dee2e6;
        color: #212529;
        padding: .75rem;
    }

    .selected {
        background-color: #ffc107;
    }

    .disabled {
        color: #888888;
        background-color: white;
    }
}

.unavailable {
    background-color: #f2f2f2;
}
